.acordeon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-width: 600px;
  margin: 1rem auto 5rem;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: 0.25s;
}

.acordeon.open,
.acordeon:hover {
  border: 1px solid var(--gray-100);
}

.acordeon .trigger {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 2rem;
  background-color: transparent;
  color: var(--white);
  border: none;
}

.acordeon .trigger h2 {
  margin: 0 auto;
}

.acordeon .trigger:hover {
  cursor: pointer;
}

.acordeon .trigger::after {
  position: absolute;
  right: 1rem;
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../icons/arrow-top.svg");
  transition: 0.25s;
}

.acordeon.open .trigger::after {
  transform: rotate(180deg);
}

.acordeon .content {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.acordeon.open .content {
  display: block;
  padding: 0 1rem 1rem 2rem;
  height: auto;
  opacity: 1;
}
