* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  font-size: 1rem;
}
:root {
  --black: #14191f;
  --blue-500: #293548;
  --blue-700: #1e293b;
  --blue-800: #161b22;
  --blue-900: #2c66c3;
  --gray-100: #bfbfbf;
  --gray-300: #bbbbbb;
  --gray-600: #444444;
  --gray-900: #111827;
  --green-500: #2cb67d;
  --white: #ffffff;
  --linear-gradient: linear-gradient(to bottom right, #00000099, #00000000);
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--blue-500);
  border-radius: 5rem;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--gray-900);
  color: var(--white);
}

a {
  text-decoration: none;
}

h2 {
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
  margin: 1.5rem;
}

h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 10px;
  background-color: var(--blue-900);
  border-radius: 8px;
}

.footer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--linear-gradient);
  background-color: var(--gray-900);
  color: var(--blue-500);
}
