.head {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding-right: 5rem;
  background: var(--linear-gradient);
  background-color: var(--gray-900);
}

.head img {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  cursor: pointer;
  z-index: 10;
}

.head nav#menu {
  display: none;
}

.head nav#menu-responsive {
  display: none;
}

.head nav#menu-responsive.active {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray-900);
  z-index: 100;
}

.head nav a {
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  letter-spacing: 0.2rem;
  color: var(--gray-100);
}

.head nav#menu-responsive a {
  font-size: 2rem;
}

.head nav a:hover {
  background: var(--blue-900);
  color: var(--white);
}

@media screen and (min-width: 700px) {
  .head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    justify-content: end;
  }

  .head nav#menu-responsive,
  .head nav#menu-responsive.active {
    display: none;
  }

  .head img {
    display: none;
  }

  .head nav#menu {
    display: flex;
  }

  .head nav#menu-responsive a {
    font-size: 1rem;
    z-index: 10;
    pointer-events: auto;
  }
}
