.projects {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects .container {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 200px;
  padding: 0 1rem;
  border-radius: 5px;
  border: 1px solid var(--blue-700);
}

.projects .container .projects-list {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.projects .container .projects-list::-webkit-scrollbar {
  height: 10px;
}

.projects .container .projects-list::-webkit-scrollbar-track {
  background: transparent;
}

.projects .container .projects-list::-webkit-scrollbar-thumb {
  background: var(--blue-500);
  border-radius: 5rem;
}

.projects .container .projects-list .project {
  position: relative;
  width: 100%;
  height: 100%;
  margin-right: 30px;
  display: inline-block;
}

.projects .container .projects-list .project .img {
  width: 100%;
  height: calc(100% - 40px);
  border-radius: 5px 5px 0 0;
}

.projects .container .projects-list .project .img img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
}

.projects .container .projects-list .project button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: var(--blue-700);
  border: none;
  border-radius: 0 0 5px 5px;
  opacity: 0.5;
  transition: opacity 0.5s, background-color 0.5s;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.projects .container .projects-list .project button span {
  color: var(--white);
  margin-left: 1rem;
  font-size: 1rem;
}

.projects .container .projects-list .project button:hover {
  background-color: var(--blue-500);
  opacity: 0.9;
}

@media screen and (min-width: 700px) {
  .projects {
    padding-top: 70px;
  }

  .projects .container {
    height: 400px;
  }
}
